<form>
  <mat-form-field appearance="fill" color="accent">
    <mat-label>City</mat-label>
    <input
      type="search"
      matInput
      placeholder="Search for a city"
      name="txtCity"
      (keyup.enter)="search()"
      [formControl]="searchBar"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let cty of filteredSuggestions | async"
        [value]="cty">
        {{ cty }}
      </mat-option>
    </mat-autocomplete>
    <button
      matSuffix
      mat-icon-button
      aria-label="Search"
      (click)="search()"
      name="btnSearchCity"
    >
      <span class="material-symbols-outlined"> search </span>
    </button>
  </mat-form-field>
</form>
