:host(.parent-container) {
  display: flex;
  justify-content: center;
  width: 100%;
}
.star-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.main-weather {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  min-height: 65vh;
  width: 100%;
  grid-template-areas: "now today" "now tomorrow";
  grid-gap: 1rem;
  margin-bottom: 1rem;
}
.now {
  grid-area: now;
}

@media screen and (max-width: 1000px) {
  .main-weather {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr 1fr;
    grid-template-areas: "now" "today" "tomorrow";
  }
}
