
.template-container {
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.loadingCard {
  margin-top: 1rem;
}
.loadingCard > mat-card-content {
  display: flex;
  gap: 2rem;
  grid-template-columns: 1fr min-content;
}
.loadingCard > mat-card-content > h2 {
  font-family: "Ubuntu Complete";
  color: var(--md-sys-color-on-background);
}
mat-button-toggle-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
}
@media screen and (max-width: 1000px) {
  .loadingCard > h2 {
    display: none;
  }
}
