<mat-card
  *ngIf="WeatherService.loading; else weatherContainer"
  class="loadingCard"
>
  <mat-card-content>
    <mat-spinner diameter="30" color="accent"></mat-spinner>
    <h2>Loading...</h2>
  </mat-card-content>
</mat-card>

<ng-template #weatherContainer>
  <div *ngIf="hasWeather" class="template-container">
    <div class="main-weather">
      <current-condition-card [weatherData]="weatherDataResponse" class="now">
      </current-condition-card>
      <forecast-card title="Today" [forecast]="forecast[0]"></forecast-card>
      <forecast-card title="Tomorrow" [forecast]="forecast[1]"></forecast-card>
    </div>

    <button [routerLink]="['/moon']" mat-raised-button color="primary">
      View Sun & Moon Details
    </button>
  </div>
</ng-template>
