mat-card {
  color: white;
  height: 100%;
}

.today {
  background-color: var(--md-sys-color-secondary-container);
  grid-area: today;
}
.tomorrow {
  background-color: var(--md-sys-color-tertiary-container);
  grid-area: tomorrow;
}
mat-card-footer{
  display: flex;
  margin: auto 0 3vh 0;
}
.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  align-self: baseline;
}
.hour-card {
  display: grid;
  grid-template-rows: 2fr repeat(2, 1fr);
  grid-gap: 0.5rem;
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  text-align: center;
}
.hour-description {
  display: none;
  visibility: hidden;
}
.data-strip {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}
.data-strip > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (max-width: 1000px) {
  .grid-container {
    margin-top: 0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .hour-card {
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .hour-description {
    display: block;
    visibility: visible;
  }
}
