<mat-card [ngClass]="title.toLowerCase()">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ title }}</h2>
    </mat-card-title>
    <mat-card-subtitle [innerText]="cardData.date | date"></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="data-strip">
      <div>
        <span class="material-symbols-outlined"> arrow_upward </span>
        <span class="temperature" [innerText]="cardData.maxTemp | temperature"></span>
      </div>

      <div>
        <span class="material-symbols-outlined"> arrow_downward </span>
        <span class="temperature" [innerText]="cardData.minTemp | temperature"></span>
      </div>
      <div>UV Index: {{ cardData.uvIndex }}</div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="grid-container">
      <div *ngFor="let model of hourlyModels" class="hour-card">
        <span class="material-symbols-outlined" [innerText]="model.icon">
        </span>
        <span class="hour-description" [innerText]="model.description"></span>
        <span [innerText]="model.temperature | temperature"></span>
        <span [innerText]="model.time | twentyfourHours"></span>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
