.main {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 2rem;
}
.main > * {
  display: flex;
  justify-content: center;
  width: 100%;
}
.link{
  cursor: pointer;
}
form {
  width: 100%;
}
mat-toolbar {
  background-color: var(--md-sys-color-on-primary);
}

@font-face {
  font-family: "Ubuntu Complete";
  src: url("./theme/fonts/Ubuntu-Medium-Complete.ttf") format("truetype");
}
